@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css);

/* Font */
h1{
    color:#fff;
    font-weight: 100;
}
h2, h3, h4{
}

p{
    padding: 2px;
}

body{
  transition: 5s;
}

html, body{
    padding: 0;
    font-size: 100%;
    font-family:sans-serif;
}

.footer{
    margin-top: 150px;
    background-color: rgba(36, 45, 57);
    width: 100%;
    height: auto;
    color: rgba(255, 255, 255);
    text-align: center;
}

/* Main Content */
.wrapper{
    width:100%;
    margin: 0;
    text-align:center;
    background-color: rgba(228, 194, 145);
    border-bottom: 1px black;

}

.container{
    margin-top: 10px;
    position: relative;
    min-height: 50vh;
}
.sections, .message{
    background-color: rgba(228, 194, 145);
    text-align: center;
    padding: 15px;
    box-shadow: 5px 10px #888888;
}
.sections{
    border-radius: 25px;
    margin-top: 20px;
}

.sections h4 {
    margin: 5px;
    text-decoration: underline;
}
.sections li{
    display: inline-block;
}

.message{
    margin-bottom: 30px;
}

.spacer{
    padding-bottom: 20px;
}

/* Carousel */
.carousel{
  width:90%;
  margin: 5px auto;
}
.slick-slide{
  margin:30px;
}
.slick-slider{
    margin-bottom: 50px !important;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
    box-shadow: 5px 10px #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color: rgba(255, 255, 255);
}
li{
    display: none;
}

/* Button */
.sections > a{
    margin-top: 7%;
    font-size: 25px;

}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #D3BEA1 5%, #408c99 100%);
	background-color: rgba(161, 182, 211);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
    color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}
